.section{
    border-top: 5px solid;
    padding: 20px 10px;
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    justify-content: center;
}
.section h3{
    color: #fff;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(67, 5, 5, 0.681);
    border-radius: 20px;
    border: 5px solid black;
}
section img{
    width: 200px;
    border: 5px solid;
    border-radius: 10px;
}
section div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section h4{
    align-self: center;
}
.section p{
    color: #fff;
}
